<!DOCTYPE html>
{% load staticfiles %}
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Un Sito Digital</title>
		<meta name="keywords" content="HTML5,CSS3,Template" />
		<meta name="description" content="Diseño & Desarrollo Web en Ecuador" />
		<meta name="Author" content="Alejandro Veintimilla" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'assets/images/demo/favicon_unsitiodigital.ico' %}" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/sky-forms.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/weather-icons.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/line-icons.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/owl-carousel/owl.pack.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/flexslider.css' %}" rel="stylesheet" type="text/css" />

		<!-- REVOLUTION SLIDER -->
		<link href="{% static 'assets/css/revolution-slider.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/layerslider.css' %}" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/header-default.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/footer-default.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/color_scheme/darkblue.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />
		<!--<link href="{% static 'assets/css/layout-dark.css' %}" rel="stylesheet" type="text/css"  />-->

		<!-- Morenizr -->
		<script type="text/javascript" src="{% static 'assets/plugins/modernizr.min.js' %}"></script>

		<!--[if lte IE 8]>
		<script src="{% static 'assets/plugins/respond.js' %}"></script>
		<![endif]-->
	</head>

	<!-- 
		Available body classes: 
			smoothscroll			= enable chrome browser smooth scroll
			grey 					= grey content background
			boxed 					= boxed style
			pattern1 ... pattern10 	= background pattern

		Background Image - add to body: 
			data-background="assets/images/boxed_background/1.jpg"

		Examples: 
			<body class="smoothscroll grey boxed pattern3">
			<body class="smoothscroll boxed" data-background="assets/images/boxed_background/1.jpg">
	-->
	<body class="smoothscroll">

		<div id="wrapper">

		{% include 'menu.html' %}

		{% block content %}
		{% endblock content %}
		<!-- FOOTER -->
		<footer id="footer">
			<div class="copyright">
				<div class="container text-center fsize12">
					Epona theme by <a href="http://www.stepofweb.com" target="_blank" title="bootstrap themes &amp; templates" class="copyright">stepofweb</a> &bull; All Right Reserved &copy; Your Company LLC. &nbsp;
					<a href="page-privacy.html" class="fsize11">Privacy Policy</a> &bull; 
					<a href="page-terms.html" class="fsize11">Terms of Service</a>
				</div>
			</div>
		</footer>
		<!-- /FOOTER -->
		<a href="#" id="toTop"></a>

		</div>

	<!-- JAVASCRIPT FILES -->
	<script type="text/javascript" src="{% static 'assets/plugins/jquery-2.1.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/plugins/jquery.isotope.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/plugins/masonry.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/plugins/knob/js/jquery.knob.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/plugins/flexslider/jquery.flexslider-min.js' %}"></script>

	<!-- REVOLUTION SLIDER -->
	<script type="text/javascript" src="{% static 'assets/plugins/revolution-slider/js/jquery.themepunch.tools.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/revolution_slider.js' %}"></script>
	

	<script type="text/javascript" src="{% static 'assets/js/scripts.js' %}"></script>
</body>
</html>
