{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- REVOLUTION SLIDER -->
<div class="slider fullwidthbanner-container roundedcorners">
	<div class="fullwidthbanner">
		<ul class="hide">

			<!-- SLIDE  -->
			<li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" >

				<img src="assets/images/1x1.png" data-lazyload="{% static 'assets/images/unsitiodigital/workspace.jpg' %}" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />

				<div class="tp-caption block_black sft tp-resizeme" 
					data-x="center"
					data-y="50"  
					data-speed="1000" 
					data-start="500" 
					data-easing="easeOutExpo" 
					data-splitin="none" 
					data-splitout="none" 
					data-elementdelay="0.1" 
					data-endelementdelay="0.1" 
					data-endspeed="300">Te ayudamos a visualizar tu sitio web
				</div>

				<div class="tp-caption block_black sft tp-resizeme" 
					data-x="center"
					data-y="120"  
					data-speed="1000" 
					data-start="2000" 
					data-easing="easeOutExpo" 
					data-splitin="none" 
					data-splitout="none" 
					data-elementdelay="0.1" 
					data-endelementdelay="0.1" 
					data-endspeed="300">y te enviamos disintas opciones.
				</div>

			</li>

			<!-- SLIDE  -->
			<li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" >

				<img src="assets/images/1x1.png" data-lazyload="{% static 'assets/images/unsitiodigital/herramientas.jpg' %}" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />

				<div class="tp-caption mediumlarge_light_white lfb tp-resizeme" 
					data-x="left" data-hoffset="70"
					data-y="20" 
					data-speed="1000" 
					data-start="400" 
					data-easing="easeOutExpo" 
					data-splitin="none" 
					data-splitout="none" 
					data-elementdelay="0.1" 
					data-endelementdelay="0.1" 
					data-endspeed="300">Cuando hayas elejido las imágenes, la forma y el texto
				</div>

				<div class="tp-caption mediumlarge_light_white lft tp-resizeme" 
					data-x="left" data-hoffset="70"
					data-y="80"
					data-speed="1000" 
					data-start="2000" 
					data-easing="easeOutExpo" 
					data-splitin="none" 
					data-splitout="none" 
					data-elementdelay="0.1" 
					data-endelementdelay="0.1" 
					data-endspeed="300">nos dedicamos a tu sitio web <br> y lo alistamos en una semana.
				</div>

			</li>
		</ul>
		<div class="tp-bannertimer"></div>
	</div>
</div>

<!-- /REVOLUTION SLIDER -->
<!-- CALLOUT -->
<div class="callout dark"><!-- add "styleBackgroundColor" class for colored background and white text OR "dark" for a dark callout -->
	<div class="container">
		<div class="row">
		</div>
	</div>
</div>
<!-- /CALLOUT -->

<!-- Timeline -->
<div class = "container">
<hr class="invisible"></hr>
	<div class="timeline clearfix">
		<div class="timeline-centered clearfix">
			<div class="item pull-left"><!-- item -->
				<h3 class="timeline-centered-title"><a href="#">Nos Reunimos </a></h3>
				<h4 class="pull-right"><i class = "fa fa-users fa-3x appear-animation inner" data-animation="fadeInRight"></i></h4>
				<p>Si vives en Quito, podemos reunirnos en persona. Si vives en alguna otra ciudad del Ecuador y deseas reunirnos personalmente, podemos cuadrar una visita. También podemos utilizar Skype o Hangouts. Son herramientas muy completas, a través de las cuales se puede compartir la pantalla del computador, diseñar y cambiar opiniones en conjunto.</p>
			</div><!-- /item -->

			<div class="item pull-right"><!-- item -->
				<h3 class="timeline-centered-title"><a href="#">Te enviamos Modelos & Ejemplos </a></h3>
				<h4 class="pull-left"><i class = "fa fa-thumbs-o-up fa-3x appear-animation inner" data-animation="fadeInLeft"></i></h4>
				<p>Te enviamos bocetos, ejemplos de páginas web y sitios de referencia con los cuales podrás visualizar tu sitio de manera más clara</p>
			</div><!-- /item -->

			<div class="item pull-left"><!-- item -->
				<h3 class="timeline-centered-title"><a href="#">Elijes Fotos & Texto </a></h3>
				<h4 class="pull-right"><i class = "fa fa-photo fa-3x appear-animation inner" data-animation="fadeInRight"></i></h4>
				<p>Si tienes fotos de tu empresa, usamos las fotos de tu empresa para poblar el sitio web. También puedes utilizar fotos disponibles online. Si deseas, podemos enviar un fotógrafo a tu empresa para que tome fotografías arquitectónicas y corporativas de calidad</p>
			</div><!-- /item -->

			<div class="item pull-right"><!-- item -->
				<h3 class="timeline-centered-title"><a href="#">Construimos tu sitio Web</a></h3>
				<h4 class="pull-left"><i class = "fa fa-code fa-3x appear-animation inner" data-animation="fadeInLeft"></i></h4>
				<p>Una vez elegidas las fotografías, la estructura y alcance, y el texto que va a ir en tu sitio web, lo construimos en menos de una semana</p>
			</div><!-- /item -->
		</div>
	</div>
	<!-- /Timeline -->


	<div class="divider"><!-- divider -->
		<i class="fa fa-cart-arrow-down"></i>
	</div>

		<!-- CONTENT -->
	<section>
		<div class="container">

		<h2>Nos importa que quedes <strong>satisfecho</strong> </h2>
		<p>Después de concluido el sitio web, tienes seis meses de soporte gratuito en los que podrás cambiar cosas pequeñas (texto/imágenes) sin costo, Aclaramos todas tus dudas y nos aseguramos que tu página web quede accesible y lista online.</p>
	

			<!-- 
				BOOTSTRAP GRID
				4 columns: col-md-3
				3 columns: col-md-4
				2 columns: col-md-2
				
				For more info about bootstrap grid
				http://getbootstrap.com/css/#grid
			-->

			<!-- FOUR COLUMNS -->
			<div class="row pricetable-container">

				<div class="col-md-3 price-table">
					<h3>SIMPLE</h3>
					<p>	
						$300						
					</p>

					<ul>
						<li>Inicio</li>
						<li>Quiénes Somos</li>
						<li>Productos | Informacion Extra</li>
						<li>Contáctenos</li>
					</ul>					
				</div>

				<div class="col-md-3 price-table popular">
					<h3>SIMPLE & IMAGEN</h3>
					<p>	
						$500
					</p>
					<ul>
						<li>Página Web Simple</li>
						<li>Diseño Logo & Otros</li>
						<li>Sesión de Fotografías</li>
						<li>Tasas & Stickers on el Logo</li>
					</ul>					
				</div>

				<div class="col-md-3 price-table">
					<h3>COMPLEJA</h3>
					<p>	
						$800
					</p>
					<ul class="pricetable-items">
						<li>Página Web Simple</li>
						<li>Administrador</li>
						<li>Modelos | Base de Datos</li>
						<li>Tasas & Stickers on el Logo</li>
					</ul>
				</div>

				<div class="col-md-3 price-table">
					<h3>COMPLEJA & IMAGEN</h3>
					<p>	
						$1000
						<span>Per month</span>
					</p>
					<ul>
						<li>Página Web Compleja</li>
						<li>Diseño Logo & Otros</li>
						<li>Sesión de Fotografías</li>
						<li>Tasas & Stickers con el Logo</li>
					</ul>
				</div>

			</div>
			<!-- /FOUR COLUMNS -->

		</div>
	</section>
	<!-- /CONTENT -->
</div>


{% endblock content %}
